*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* FC6736 nav */
/* FC6736 body */
/* books container 0C2D57 */
/* FFB0B0 if neded */
.container{
    width: 100vw;
    min-height: 100vh;
    font-size: 1rem;
    position: relative;
    background-color:#EFECEC;
    margin: 0 auto;
   
}
.reset_btn{
    position: absolute;
    top: 5.3rem;
    left: 94%;
    z-index: 9999;
    background-color: transparent;
    border: none;
    color: #Fff;
    opacity: 0;
    z-index: -9999;
    /* box-shadow:  2px 2px 4px 1px rgba(0, 0, 0, 0.5); */
}
.container nav {
  background-color: #FC6736;
  width: 100%;
  height: 4rem;
  font-weight: 900;
}

.container nav ul{
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    list-style: none;
    padding-top: 1rem;
    color: #FFF;
}

.pop_up{
    box-shadow:  2px 2px 4px 3px rgba(0, 0, 0, 0.5);
    border: 3px solid #FC6736;
    background-color: #EFECEC;
    max-width: 25rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 10px;
    opacity: 0;
    position: relative;
}
.pop_up div{
    margin-top: 3rem;
    width: 100%;
    
}
.unique{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pop_up div input{
  height: 2rem;
  text-align: center;
}
input[type="search"]{
    background-color: #FFF;
    text-align: center;
    color: #FC6736;
    font-weight: 900;
    border: 1px solid #fff;
    border-radius: 7px;
}
input[type="search"]:focus{
   outline: none;
   background-color: #EFECEC;
   color: #000;
   box-shadow:  2px 2px 4px 3px rgba(0, 0, 0, 0.5);
   
}
.unique{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pop_up div input:focus{
     outline: none;
     background-color: #fff;
     box-shadow:  2px 2px 4px 0px rgba(105, 95, 95, 0.5);

}
.submit{
    width: 50%;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    background-color: #FC6736;
    height: 2rem;
    
}
.btn_add{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    width: 8rem;
    height: 2rem;
    border-radius: 7px;
    background-color: #FC6736;
    color: #FFF;
    font-weight: 900;
    /* opacity: 0; */
}
.btn_add_unique:hover{
  
    background-color: #FFF;
    color: #FC6736;
  
    /* opacity: 0; */
}
.View_btn:hover{
    background-color: #FFF;
    color: #FC6736;
}
.View_btn{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 8rem;
    height: 2rem;
    border-radius: 7px;
    
   
    /* opacity: 0; */ 
}
.cancel_btn{
    position: absolute;
    top: 1%;
    left: 90%;
    width: 20px;
    border-radius: 5px;
}
.accepter{
    /* background-color: brown; */
    width: 90%;
    /* max-width: 90rem; */
  
    height: 30rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
    border-radius: 10px;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    /* padding: 2rem 1px 1rem 1rem; */
   padding-top: 0.5rem;
    flex: 1;
    overflow: scroll;
    background-color: #FC6736;
}
/* style for js class */
.book_container{
    border: 3px solid #Fff;
    height: 70%;
    width: 17rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 9px;
    background-color: #EFECEC;
    box-shadow:  2px 2px 4px 0px rgba(105, 95, 95, 0.5);
    background-color: #0C2D57 ;
}
.book_name{
    font-size: 2rem;
    max-width: 100%;
    margin-bottom: 2rem;
    color: #fff;
    font-weight: 900;
}
.book_author{
    font-size: 1.2rem;
   text-align: end;
   margin: 1rem;
   color: #fff;
   font-weight: 900;
}
.book_page{
    font-size: 1.2rem;
    text-align: end;
    margin: 1rem;
    color: #fff;
    font-weight: 900;
}
.button_delete{
    margin-top: 2rem;
    width: 14rem;
    height: 2rem;
    border-radius: 8px;
    font-weight: 900;
    
}
.state_closed{
    background-color: rgb(212, 52, 52);
    color: #fff;
    font-weight: 900;
}
.state_oppen{
    background-color: rgb(16, 94, 16);
    color: #fff;
    font-weight: 900;
}